#tolkienbox {
        background-color: #ffffff;
        width: 50%; 
        height: auto;
        margin: 2% 25% 10% 25%;
        color: #f3e62f;
        padding: 0 15px 15px 15px;
        border-style: solid;
        border-width: 10px;
        border-color: #eec926;
        position: absolute;
        line-height: 25px;
    }

    img {
        width: auto;
    }

#answerslotuno {        
        width: 30%;
        padding: 3px 3px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #83640e;
        background-color: #eec926;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 3px #999;
    }

#answerslotuno:hover {background-color: #facf43}

#answerslotuno:active {
  background-color: #3f3e8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
    }

#answerslotdos {        
    width: 30%;
    padding: 3px 3px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #83640e;
    background-color: #eec926;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 3px #999;
}

#answerslotdos:hover {background-color: #facf43}

#answerslotdos:active {
  background-color: #3f3e8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
    }

#answerslottres {        
    width: 30%;
    padding: 3px 3px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #83640e;
    background-color: #eec926;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 3px #999;
}

#answerslottres:hover {background-color: #facf43}

#answerslottres:active {
  background-color: #3f3e8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
    }

#answerslotquatro {        
    width: 30%;
    padding: 3px 3px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #83640e;
    background-color: #eec926;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 3px #999;
}

#answerslotquatro:hover {background-color: #facf43}

#answerslotquatro:active {
  background-color: #3f3e8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
    }

.correctanswersbox {
    float: left;
    text-align: center;
    width: 300px;
    height: 100px;
    border: 1px solid #eec926;    
}
.incorrectanswersbox {
    float: left;
    text-align: center;
    width: 300px;
    height: 100px;
    border: 1px solid #eec926;    
}
